<h3><%= title %></h3>
<div class="digg_pagination">
  <%= will_paginate(list, { param_name: pagination_param }) %>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Month</th>
      <th scope="col">Day</th>
      <th scope="col">Child's Name</th>
      <th scope="col">Buyer's Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% list.each do |day| %>
      <tr>
        <td><%= day.date.strftime("%B") %></td>
        <td><%= day.date.day %><%= day.date.day.ordinal %></td>
        <td>
          <% if day.seller %>
            <%= day.seller.name %>
          <% end %>
        </td>
        <td>
          <% if day.buyer %>
            <%= day.buyer.name %>
          <% end %>
        </td>
        <td>
          <% if day.sold? %>
            <button type="button" class="btn btn-primary disabled">Sold</button>
          <% else %>
            <% if day.buyer.nil? %>
              <% unless current_parent.has_seller?(day.seller) %>
                <%= link_to buy_day_edit_path(day) do %>
                  <button type="button" class="btn btn-primary">Buy</button>
                <% end %>
              <% end %>
            <% else %>
              <% unless current_parent.has_buyer?(day.buyer) %>
                <%= link_to sell_day_edit_path(day) do %>
                  <button type="button" class="btn btn-primary">Sell</button>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </td>
        <% if interactive %>
          <td>
            <% if day.sold? %>
              <% if current_parent.has_buyer?(day.buyer) %>
                <%= link_to "Undo", buy_day_path(day), class: "btn btn-secondary", method: :delete, data: { confirm: "Are you sure that you want to undo the purchase?" } %>
              <% elsif current_parent.has_seller?(day.seller) %>
                <%= link_to "Undo", sell_day_path(day), class: "btn btn-secondary", method: :delete, data: { confirm: "Are you sure that you want to undo the sale?" } %>
              <% else %>
                <%= link_to "(SOLD)", "", class: "btn btn-primary disabled" %>
              <% end %>
            <% else %>
              <% if current_parent.has_buyer_or_seller?(day) %>
                <% delete_confirm = "Do you want to remove a day #{day.seller ? 'for sale' : 'to buy'}?" %>
                <%= link_to "Remove", saleable_day_path(day), class: "btn btn-danger", method: :delete, data: { confirm: delete_confirm } %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>