<h3>Calendar</h3>

<div class="row justify-content-md-center" style="padding-top:30px;padding-bottom:50px;">
	<% current_user.current_children.each do |child| %>
		<div class="col col-lg-4">
			<%= link_to "Sell Day from #{child.name}", new_saleable_day_path(child_id: child.id), class: "btn btn-primary btn-block" %>
		</div>
	<% end %>
</div>

<%= month_calendar events: @days do |date, days| %>
	<%= date.day %>

	<% days.each do |day| %>
		<% if day.sold? %>
			<div>
				<small><%= link_to "#{day.seller.name} (SOLD)", "", class: "disabled" %></small>
			</div>
		<% else %>
			<div>
				<% if current_user.children.include?(day.seller) %>
					<% delete_confirm = "Do you want to remove a day for sale?" %>
					<%= "#{day.seller.name} - " %><%= link_to "remove", saleable_day_path(day), method: :delete, data: { confirm: delete_confirm } %>
				<% else %>
					<%= link_to day.seller.name, edit_saleable_day_path(day) %>
				<% end %>
			</div>
		<% end %>
	<% end %>
<% end %>

<br />
<br />
<br />
<h3>List of Days</h3>
<div class="digg_pagination">
	<%= will_paginate @list_days %>
</div>
<table class="table">
	<thead>
		<tr>
			<th scope="col">Month</th>
			<th scope="col">Day</th>
			<th scope="col">Child's Name</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @list_days.each do |day| %>
			<tr>
				<td><%= day.date.strftime("%B") %></td>
				<td><%= day.date.day %><%= day.date.day.ordinal %></td>
				<td><%= day.seller.name %></td>
				<td>
					<% if day.sold? %>
						<button type="button" class="btn btn-primary disabled">Sold</button>
					<% else %>
						<% unless current_user.children.include?(day.seller) %>
							<%= link_to edit_saleable_day_path(day) do %>
								<button type="button" class="btn btn-primary">Buy</button>
							<% end %>
						<% end %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
