<h3>Calendar</h3>

<div class="row justify-content-md-center" style="padding-top:30px;padding-bottom:50px;">
	<% current_user.current_children.each do |child| %>
		<div class="col col-lg-4">
			<%= link_to "Sell Day from #{child.name}", days_new_sell_path(child_id: child.id), class: "btn btn-primary btn-block" %>
		</div>
		<div class="col col-lg-4">
			<%= link_to "Buy Day for #{child.name}", days_new_buy_path(child_id: child.id), class: "btn btn-primary btn-block" %>
		</div>
	<% end %>
</div>

<%= month_calendar events: @days do |date, days| %>
	<%= date.day %>

	<% days.each do |day| %>
		<% if day.sold? %>
			<div>
				<% if current_user.has_buyer?(day.buyer) %>
					<%= link_to "#{day.seller.name} (SOLD) | Undo", buy_day_path(day), class: "badge badge-light", method: :delete, data: { confirm: "Are you sure that you want to undo the purchase?" } %>
				<% elsif current_user.has_seller?(day.seller) %>
					<%= link_to "#{day.seller.name} (SOLD) | Undo", sell_day_path(day), class: "badge badge-light", method: :delete, data: { confirm: "Are you sure that you want to undo the sale?" } %>
				<% else %>
					<%= link_to "#{day.seller.name} (SOLD)", "", class: "badge badge-light" %>
				<% end %>
			</div>
		<% else %>
			<div>
				<% if current_user.has_buyer_or_seller?(day) %>
					<% delete_confirm = "Do you want to remove a day #{day.seller ? 'for sale' : 'to buy'}?" %>
					<%= link_to "#{day.buyer_or_sellers_name} | Remove", saleable_day_path(day), class: "badge badge-dark", method: :delete, data: { confirm: delete_confirm } %>
				<% else %>
					<% if day.seller %>
						<%= link_to "#{day.seller.name} | Buy", buy_day_edit_path(day), class: "badge badge-primary" %>
					<% else %>
						<%= link_to "#{day.buyer.name} | Sell", sell_day_edit_path(day), class: "badge badge-secondary" %>
					<% end %>
				<% end %>
			</div>
		<% end %>
	<% end %>
<% end %>

<br />
<br />
<br />
<h3>List of Upcoming Days</h3>
<div class="digg_pagination">
	<%= will_paginate @list_days %>
</div>
<table class="table">
	<thead>
		<tr>
			<th scope="col">Month</th>
			<th scope="col">Day</th>
			<th scope="col">Child's Name</th>
			<th scope="col">Buyer's Name</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @list_days.each do |day| %>
			<tr>
				<td><%= day.date.strftime("%B") %></td>
				<td><%= day.date.day %><%= day.date.day.ordinal %></td>
				<td>
					<% if day.seller %>
						<%= day.seller.name %>
					<% end %>
				</td>
				<td>
					<% if day.buyer %>
						<%= day.buyer.name %>
					<% end %>
				</td>
				<td>
					<% if day.sold? %>
						<button type="button" class="btn btn-primary disabled">Sold</button>
					<% else %>
						<% if day.buyer.nil? %>
							<% unless current_user.has_seller?(day.seller) %>
								<%= link_to buy_day_edit_path(day) do %>
									<button type="button" class="btn btn-primary">Buy</button>
								<% end %>
							<% end %>
						<% else %>
							<% unless current_user.has_buyer?(day.buyer) %>
								<%= link_to sell_day_edit_path(day) do %>
									<button type="button" class="btn btn-primary">Sell</button>
								<% end %>
							<% end %>
						<% end %>
					<% end %>
				</td>
				<td>
					<% if day.sold? %>
						<% if current_user.has_buyer?(day.buyer) %>
							<%= link_to "Undo", buy_day_path(day), class: "btn btn-secondary", method: :delete, data: { confirm: "Are you sure that you want to undo the purchase?" } %>
						<% elsif current_user.has_seller?(day.seller) %>
							<%= link_to "Undo", sell_day_path(day), class: "btn btn-secondary", method: :delete, data: { confirm: "Are you sure that you want to undo the sale?" } %>
						<% else %>
							<%= link_to "(SOLD)", "", class: "btn btn-primary disabled" %>
						<% end %>
					<% else %>
						<% if current_user.has_buyer_or_seller?(day) %>
							<% delete_confirm = "Do you want to remove a day #{day.seller ? 'for sale' : 'to buy'}?" %>
							<%= link_to "Remove", saleable_day_path(day), class: "btn btn-danger", method: :delete, data: { confirm: delete_confirm } %>
						<% end %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
