<h3>Calendar</h3>

<% current_parent.eligible_children.each do |child| %>
	<div class="row justify-content-md-center" style="padding-top:30px;padding-bottom:50px;">
		<div class="col col-lg-4">
			<%= link_to "Sell Day from #{child.name}", days_new_sell_path(child_id: child.id), class: "btn btn-primary btn-block" %>
		</div>
		<div class="col col-lg-4">
			<%= link_to "Buy Day for #{child.name}", days_new_buy_path(child_id: child.id), class: "btn btn-primary btn-block" %>
		</div>
	</div>
<% end %>

<%= month_calendar events: @days do |date, days| %>
	<%= date.day %>

	<% days.sort_by(&:created_at).each do |day| %>
		<% if day.sold? %>
			<div>
				<% if current_parent.has_buyer?(day.buyer) %>
					<%= link_to "#{day.seller.name} (SOLD) | Undo", buy_day_path(day), class: "badge badge-light", method: :delete, data: { confirm: "Are you sure that you want to undo the purchase?" } %>
				<% elsif current_parent.has_seller?(day.seller) %>
					<%= link_to "#{day.seller.name} (SOLD) | Undo", sell_day_path(day), class: "badge badge-light", method: :delete, data: { confirm: "Are you sure that you want to undo the sale?" } %>
				<% else %>
					<%= link_to "#{day.seller.name} (SOLD)", "", class: "badge badge-light" %>
				<% end %>
			</div>
		<% else %>
			<div>
				<% if current_parent.has_buyer_or_seller?(day) %>
					<% delete_confirm = "Do you want to remove a day #{day.seller ? 'for sale' : 'to buy'}?" %>
					<%= link_to "#{day.buyer_or_sellers_name} | Remove", saleable_day_path(day), class: "badge badge-dark", method: :delete, data: { confirm: delete_confirm } %>
				<% else %>
					<% if day.seller %>
						<%= link_to "#{day.seller.name} | Buy", buy_day_edit_path(day), class: "badge badge-primary" %>
					<% else %>
						<%= link_to "#{day.buyer.name} | Sell", sell_day_edit_path(day), class: "badge badge-secondary" %>
					<% end %>
				<% end %>
			</div>
		<% end %>
	<% end %>
<% end %>

<br />
<br />
<br />

<%= render partial: "list", object: @list_days, locals: { pagination_param: 'page', title: 'List of Upcoming Days', interactive: true } %>

<% if current_parent.is_admin? %>
	<%= render partial: "list", object: @sold_days, locals: { pagination_param: 'admin_page', title: 'All Sold Days', interactive: false } %>
<% end %>