<div style="margin-top:40px;">
	<div class="jumbotron">
		<h1 class="display-4">Welcome to the Chickpeas Buy / Sell Site</h1>
		<% if !parent_signed_in? %>
			<p class="lead text-center text-info">
				<%= link_to "Please Login to Buy and Sell Days", new_parent_session_path %>
			</p>
		<% end %>
	</div>
	<% if @announcements.present? %>
		<div class="row">
			<div class="col-sm-10">
				<h3>Announcements</h3>
			</div>
			<div class="col-sm-2">
				<% if parent_signed_in? %>
					<%= link_to new_announcement_path do %>
						New Announcement
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="digg_pagination">
			<%= will_paginate @announcements %>
		</div>
		<% @announcements.each do |announcement| %>
			<div class="card" style="">
				<div class="card-body">
					<h5 class="card-title"><%= announcement.title %></h5>
					<h6 class="card-subtitle mb-2 text-muted">Posted at: <%= announcement.created_at.to_formatted_s(:long) %></h6>
					<p class="card-text"><%= announcement.body %></p>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
