<p id="notice"><%= notice %></p>

<h1>Parents</h1>

<table class="table">
  <thead>
    <tr>
			<th scope="col">Email</th>
			<th scope="col">First name</th>
			<th scope="col">Last name</th>
			<th scope="col">Children</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @parents.each do |parent| %>
      <tr>
        <td><%= parent.email %></td>
        <td><%= parent.first_name %></td>
        <td><%= parent.last_name %></td>
				<td><%= parent.children.map { |c| c.name }.join(", ") %></td>
        <td><%= link_to 'Show', parent %></td>
        <td><%= link_to 'Edit', edit_parent_path(parent) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parent', new_parent_path %>
