<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @parent.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @parent.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @parent.last_name %>
</p>

<p>
  <strong>Years:</strong>
  <%= @parent.years %>
</p>

<%= @parent.children.each do |child| %>
	<p>Child's First Name: <%= child.first_name %></p>
	<p>Child's Last Name: <%= child.last_name %></p>
<% end %>

<%= link_to 'Add Child', new_parent_child_path(@parent) %>

<%= link_to 'Edit', edit_parent_path(@parent) %> |
<%= link_to 'Back', parents_path %>
