<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @parent.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @parent.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @parent.last_name %>
</p>

<p>
  <strong>Years:</strong>
  <%= @parent.years.map(&:value).join(", ") %>
</p>

<% @parent.children.each_with_index do |child, i| %>
	<% child_number = i+1 %>
	<hr />
	<div>
		<p>Child #<%= child_number.to_s %></p>
		<p>Child's First Name: <%= child.first_name %></p>
		<p>Child's Last Name: <%= child.last_name %></p>
		<%= link_to 'Sell Days', new_saleable_day_path(child_id: child) %>
		<%= link_to 'View', parent_child_path(@parent, child) %>
	</div>
<% end %>

<br />
<br />
<%= link_to 'Add Child', new_parent_child_path(@parent) %> |
<%= link_to 'Edit', edit_parent_path(@parent) %> |
<%= link_to 'Back', parents_path %>
