<p id="notice"><%= notice %></p>

<h2><%= @parent.name %></h2>

<p>
  <strong>Login Email:</strong>
  <%= @parent.email %>
</p>

<div style="padding-top:20px;padding-bottom:20px;"></div>
<% if @parent.eligible_children.present? %>
	<h4>Children</h4>
	<div class="row">
		<% @parent.eligible_children.each_with_index do |child, i| %>
			<div class="col-sm-6">
				<div class="card text-center">
					<div class="card-body">
						<h5 class="card-title"><%= child.name %></h5>
						<%= link_to 'Sell Day', days_new_sell_path(child_id: child.id), class: "card-link btn btn-light" %>
						<%= link_to 'Buy Day', days_new_buy_path(child_id: child.id), class: "card-link btn btn-light" %>
						<%= link_to 'View Child', child_path(child), class: "card-link btn btn-primary" %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
<% end %>

<div style="padding-top:20px;padding-bottom:20px;"></div>
<% if !@parent.email_configs.empty? %>
	<h4>Email Notification Configuration</h4>
	<% @parent.email_configs.each do |ec| %>
		<div class="row">
			<div class="col-sm-6">
				<div class="card text-center">
					<div class="card-body">
						<h5 class="card-title">
							<%= ec.display_genre %> Notifications
						</h5>
						<p>
							Email: <%= ec.email %><br>
							Notifications Turned On? <%= ec.active %>
						</p>
						<%= link_to 'Edit', edit_parent_email_config_path(parent_id: @parent.id, id: ec.id), class: "card-link btn btn-light" %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
<% end %>

<% if current_user && admin_user? %>
	<br />
	<br />
	<%= link_to 'Add Child', new_parent_child_path(@parent) %> |
	<%= link_to 'Edit', edit_parent_path(@parent) %> |
	<%= link_to 'Back', :back %>
<% end %>

