<p id="notice"><%= notice %></p>

<h1>Years</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Value</th>
      <th scope="col">Is Current Year?</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @years.each do |year| %>
      <tr>
        <td><%= year.value %></td>
        <td><%= year.current_year %></td>
				<td><%= link_to 'Add Child', new_year_child_path(year) %></td>
        <td><%= link_to 'Show', year_path(year) %></td>
        <td><%= link_to 'Edit', edit_year_path(year) %></td>
        <td><%= link_to 'Destroy', year_path(year), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Year', new_year_path %>
