<p id="notice"><%= notice %></p>
<div class="row pb-5">
  <div class="col-sm">
    <%= link_to 'Back', years_path %>
  </div>
  <div class="col-sm">
    <%= link_to 'Edit Year', edit_year_path(@year) %>
  </div>
</div>

<div class="row pb-5">
  <div class="col-sm">
    <h1><%= @year.value %></h1>
  </div>

  <div class="col-sm">
    <strong>Is Current Year?</strong>
    <%= @year.current_year %>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <h3>Children</h3>
  </div>
  <div class="col-sm">
    <%= link_to 'Add Child', new_year_child_path(@year) %>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Parent 1</th>
      <th scope="col">Parent 2</th>
    </tr>
  </thead>
  <tbody>
    <% @year.children.each do |child| %>
      <tr>
        <td><%= link_to child.name, child_path(child) %></td>
        <td>
          <% if child.parents.empty? %>
            <%= link_to 'Add Parent', new_child_parent_path(child) %>
          <% else %>
            <%= child.parents.first.name %>
          <% end %>
        </td>
        <td>
          <% if child.parents.size > 1 %>
            <%= child.parents.last.name %>
          <% else %>
            <%= link_to 'Add Parent', new_child_parent_path(child) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
