<!DOCTYPE html>
<html>
  <head>
    <title>Chickpeas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

	<body>
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="/">Chickpeas App</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<%= link_to root_path, class: "nav-link"  do %>
								Home
								<span class="sr-only">(current)</span>
							<% end %>
						</li>
						<li class="nav-item">
							<%= link_to "Parents", parents_path, class: "nav-link" %>
						</li>
						<li class="nav-item">
							<%= link_to "Days on Sale", saleable_days_path, class: "nav-link" %>
						</li>
						<li class="nav-item">
							<%= link_to "Years", years_path, class: "nav-link" %>
						</li>
					</ul>
				</div>
			</nav>

			<%= yield %>
		</div>
	</body>
</html>
